

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    width: 100%;
    margin: auto;
    margin-top: 70px;
    background-color: #223263;
    color: white;
    font-family: Tahoma;
  }

.square {
    width: 36px;
    height: 38px;
    
   
}

.bulbasaur {
    
    width: 35px;
    height: 35px;
    position: absolute;
    
}



.board {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 500px;
    border: 2px solid black;
    overflow: hidden;
    background-color: antiquewhite;
   
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.sea {
   background-image: url("sprites/sea.png");
   width: 36.4px;
   height: 39px;
   position: relative;
}

.background-sea {
   background-image: url("sprites/sea.png");
}



.character {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
}



/*    .car-left {
    animation: car-animation-left 0.5s linear; 
    position: absolute;
    object-fit: contain;
    color: black;
    font-size: 30px;

} 

    .car-right {
        position: absolute;
        object-fit: contain;
        color: blueviolet;
        font-size: 30px;
        animation: car-animation-right 0.5s linear;
    } */

 .heart {
    color: red;
    
 }

 .life-sec {
    display:flex;
    gap: 15px;
    align-items: center;
    width: 8.5em;
    height:1.5em;
    margin-left: 10%;
 }

 .heart-icons {
    display: flex;
    gap: 4px;
 }


 .h3 {
    font-family: Tahoma;
 }

 .heart-crack-icons {
    display: none;
 }


 .game-over{
    display: none;
    width:400px;
    height: 250px;
    background-color: rgb(72, 20, 72);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);

 }

 .game-over h2 {
    margin-top: 10px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    
 }

 .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;

 }

 .buttons button:hover{
    background-color: rgb(172, 148, 172);
 }

 .try-again {
    padding: 8px;
    background-color: rgb(216, 175, 216);
    font-family: 'Press Start 2P', cursive;
    border-radius: 5px;
    color: rgb(88, 47, 88);
 }

 .different-pokemon {
    padding: 8px;
    background-color: rgb(216, 175, 216);
    font-family: 'Press Start 2P', cursive;
    color: rgb(88, 47, 88);
    border-radius: 5px;
 }



 .snorlax-floor {
   background-image: url("sprites/sleepySnorlax.png");
   width: 37.4px;
   border-radius: 7px;
 }

 .despertedSnorlax {
   object-fit: fill;
   background-image: url("sprites/despertedSnorlax.png");
   width: 37.39px;
   border-radius: 7px;
 }

.support {
   background-image: url("sprites/support.png");

}

.support-corner {
   background-image: url("sprites/supportCorner.png");
   width: 40px;
}

.sea-top {
   background-image: url("sprites/sea.png");
}

.ditto-information {
   width: 20vw;
   height: 20vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 75%;
   margin-top: 5%;
}

.ditto {
   width: 150px;
   height: 150px;
}

.bubble {
   max-width: 100%;
}

div > .bubble{
   filter: invert(95%) sepia(0%) saturate(7458%) hue-rotate(75deg) brightness(106%) contrast(102%);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   -webkit-animation-name: bubble-animation;
   -webkit-animation-duration: 2s;
   -webkit-animation-fill-mode: forwards;
   animation-name: bubble-animation;
   animation-duration: 2s;
   animation-fill-mode: forwards;
   object-fit: cover;
}

.arrows {
   margin-left: 75%;
   margin-top: 10%;
}

.arrows img {
   filter: invert(95%) sepia(0%) saturate(7458%) hue-rotate(75deg) brightness(106%) contrast(102%);
   width: 155px;
   height: 100px;
   object-fit: cover;
   opacity: 1;
   transition-property: opacity;
   transition-duration: 1s;
   display: none;

}

 @keyframes bubble-animation {
   100% {
       height: 100%;
   }
   0% {
       height: 0%;
   }
}

@-webkit-keyframes bubble-animation {
   100% {
       height: 100%;
   }
   0% {
       height: 0%;
   }
}

 .lapras{
   width: 35px;
   height: 35px;
   
   
}

.platform {
   width: 108px;
   height: 38;
    animation: car-animation-left 20s linear; 
   display : flex;
   position: absolute;

}

.piece {
   width: 108px;
   height: 38px;
   position: relative;
   display: flex;
}



/* .laprasTest{
   width: 35px;
   height: 35px;
   position: absolute;
   animation: car-animation-left 20s linear
   
   
} */

.ocean {
   width: 100%;
   height:39px;
   display: flex;
}

   @keyframes car-animation-left {
    from {
        left: -100px;
    }

    to {
        left: 100%;
    }
} 

@keyframes car-animation-right {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}  
 



  
